
[Desktop Entry]
Name=Slideshow
Encoding=UTF-8
Version=1.0
Type=Application
Exec=gnome-terminal --command="google_appengine/dev_appserver.py /media/DATA/Joshua/NTU/Introduction\\ to\\ Computer/YoungerBike/ " 
Icon=/usr/share/screenlets/screenlets-pack-basic/Slideshow/icon.svg
Name[zh_TW]=GAE dev_appserver Start
