<html>
  <head>
  <title>Younger's Bike - An online riding-together registration system </title>
  </head>


  <body>
<a href="/"><img src="http://csie.ntu.edu.tw/~b00902084/younger.jpg" alt="younger.jpg" width="351" height="110.5s" /></a>
<p></p>
<iframe width="640" height="360" src="http://www.youtube.com/embed/62-k783kNOw?rel=0" frameborder="0" allowfullscreen></iframe>
<p></p>
    {% if login %}
      <a href="/knight"><img src="http://csie.ntu.edu.tw/~b00902084/giveride.png" alt="Be someone's knight" width="351" height="55" /></a>
      <a href="/rider"><img src="http://csie.ntu.edu.tw/~b00902084/takeride.png" alt="Ride on other's bike" width="351" height="55" /></a>
      <p></p>
    {% endif %}
    <p></p>
    <a href="{{ url }}">{{ url_linktext }}</a>
    <p></p>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> says:
      {% else %}
       A strange person says:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
    
    {% if login %}
      <form action="/sign" method="post">
        <div><textarea name="content" rows="3" cols="60"></textarea></div>
        <div><input type="submit" value="Sign Guestbook"></div>
      </form>
    {% endif %}

    

  </body>
</html>
